In [1]:
import pandas as pd
file = pd.read_csv("../Resources/cities.csv")
file

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [2]:
df = pd.DataFrame(file, columns=["City_ID", "City", "Cloudiness", "Country", "Date", "Humidity", "Lat",
                  "Lng", "Max Temp", "Wind Speed"])
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [3]:
df.set_index("City_ID")
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [5]:
df= df.set_index("City_ID")
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...
542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [6]:
df.to_html("data.html")